In [14]:
#Reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
a =tuple1[::-1]
print(a)

(50, 40, 30, 20, 10)

In [15]:
#Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
a = tuple1[1][1]
print(a)

20

In [16]:
#Create a tuple with single item 50
tuple = (50,)
print(tuple)

(50,)

In [19]:
#Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [22]:
#Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)
temp = tuple1
tuple1 = tuple2
tuple2 = temp
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [25]:
#Copy specific elements from one tuple to a new tuple
tuple = (11, 22, 33, 44, 55, 66)
tuple1 = tuple[3:-1]
print(tuple1)

(44, 55)

In [27]:
# Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [30]:
#Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
a =tuple1.count(50)
print(a)

2

In [35]:
#Check if all items in the tuple are the same
tuple1 = (45, 45, 55, 45)
for i in tuple1:
    if i==tuple1[0]:
      print("all item is same")
    else:
        print("not same")

all item is same
all item is same
all item is same
not same