In [ ]:
#reverse list
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

In [16]:
#Concatenate two lists 
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]
for i ,j in zip(list1,list2):
  list3.append(i+j)
print(list3)

['My', 'name', 'is', 'Kelly']

In [ ]:
#Turn every item of a list into its square
list = [1,2,3,4,5]
list2 =[]
for i in list:
    a = i*i
    list2.append(a)
print(list2)

In [ ]:
#Concatenate two lists 
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []
for i in list1:
    for j in list2:
      a = i+j
      list3.append(a)
print(list3)

In [17]:
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for  i, j in zip(list1,list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

In [ ]:
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
a = list(filter(None,list1))
print(res)

In [ ]:
#Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

In [ ]:
#Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

In [ ]:
#Replace listâ€™s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

In [ ]:
# largest number from a list.
list = [1,2,3,5,58,12]
list.sort()
print("largest number :",list[-1])
print("smallest number :",list[0])
print("second largest number :",list[-2])
print("second smallest number :",list[1])

In [ ]:
#count the number of strings from a given list of strings. 
# The string length is 2 or more and the first and last characters are the same.
List = ['abc', 'xyz', 'aba', '1221']
length = len(List)
count=0
for word in List:
    if(length>1):
        if word[0]==word[-1]:
           count+=1
print(count)

In [ ]:
#remove duplicates from a list.
list = [1,5,2,3,2]
list1=[]
for i in list:
    if i not in list1:
        list1.append(i)
print(list1)

In [ ]:
#check if a list is empty or not.
list = []
if len(list)==0:
    print("empty list")
else:
    print("not empty list")

In [ ]:
# find the list of words that are longer than n from a given list of words
n = int(input("enter number"))
list = ['banana','apple','ber','pinapple']
list2=[]
for i in list:
    if(len(i)>n):
        list2.append(i)
print(list2)

In [ ]:
#write function that takes two lists and returns True if they have at least one common member.
def list(list1,list2):
    for i in list1:
        for j in list2:
            if i==j:
                return True
    else:
        return False
list1 = [1,2,3,4,5,6]
list2 = [7,8,9]
a = list(list1,list2)
print(a)

In [ ]:
# print a specified list after removing the 0th, 4th and 5th elements.
list  = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list. remove('Red')
list. remove('Pink')
list. remove('Yellow')
print(list)

#second
list  = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
new_list = []
for index,value in enumerate (list):
    if index not in [0,4,5]:
        new_list.append(value)
print(new_list)

In [ ]:
#removing even numbers from it.
list = [10,12,13,15,18,20]
new_list =[]
for i in list:
    if i%2!=0:
        new_list.append(i)
print(new_list)

In [ ]:
#print a list of the first and last 5 elements where the values are square numbers between 1 and 30
l = []
for i in range(31):
    l.append(i**2)
print("first" ,l[:5])
print('last', l[-5:])

In [ ]:
#difference between the two lists.

list_a = [1, 2, 3, 4, 5, 6, 'yellow']
list_b = [1, 2, 3, 4, 5]
set1 = set(list_a)
set2 = set(list_b)
new_list = list(set1-set2)
print(new_list)

In [ ]:
#common between the two lists.
list_a = [1, 2, 3, 4, 5, 6, 'yellow']
list_b = [1, 2, 3, 4, 5]
set1 = set(list_a)
set2 = set(list_b)
new_list = list(set1.intersection(set2))
print(new_list)

In [ ]:
# access the index of a list.
list = [5,10,15,20]
for index,value in enumerate(list):
    print(index,value)

In [ ]:
# append a list to the second list.
list1 = [5,10,15,20]
list2 = ['c','a','b']
list3 = list1+list2
print(list3)

#second method
list1.append(list2)
print(list1)

In [ ]:
# select an item randomly from a list.
import random
list2 = ['c','a','b','g','o']
a = random.choice(list2)
print(a)

In [ ]:
#to get unique values from a list.
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
new_set = set(my_list)
new_list = list(new_set)
print(new_list)

In [ ]:
#get the frequency of elements in a list
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
dict = {}
for  i in my_list:
    if i in dict:
        dict[i]+=1
    else:
        dict[i]=1
print(dict)

In [ ]:
#count the number of elements in a list within a specified range.
list = [1, 2, 3, 4, 5,6,7,8]
min = 5
max= 7
count =0
for i in list:
    if i in range(min,max+1):
        count+=1
print(count)

In [6]:
# find common items in two lists.
list1 = [1, 2, 3, 4, 5, 'red']
list2 = ['yellow', 'red', 'blue', 2, 5]
common = []
for i in list1:
    if i in list2:
        common.append(i)
print(common)

[2, 5, 'red']

In [7]:
#convert a list of multiple integers into a single integer.
list = [11, 33, 50]
a = ''.join(map(str,list))
print(a)

TypeError: 'int' object is not iterable

In [ ]:
# split a list based on the first character of a word.

def split_list(input_list):
    dict = {}
    for word in input_list:
        first_char = word[0]
        if first_char in dict:
            dict[first_char].append(word)
        else:
            dict[first_char] = [word]
    return dict

word_list = ['apple', 'banana', 'cat', 'dog', 'car', 'elephant']
result = split_list(word_list)
for key, value in result.items():
    print(f"Words starting with '{key}': {value}")

In [ ]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = ['d', 'e', 'f', 'g', 'h']

print('missing', set(list1) - set(list2))
print('additional', set(list2) - set(list1))

In [ ]:
#split a list into different variables.
list = [1, 2, 'a']
x,y,z = list
print(x)
print(y)
print(z)

In [ ]:
# insert an element before each element of a list.
my_list = [0, 1, 2, 3, 4, 5]
element = 'x'
for i in range(0,len(my_list)):
    my_list.insert(i*2,element)
print(my_list)

In [5]:
#print nested lists (each list on a new line) using the print() function.
my_list = [ [7, 0],  [1, 2],  [7, 8],  [4, 3],  [6, 9],  [3, 4]]
for i in my_list:
    print(i)

[7, 0]
[1, 2]
[7, 8]
[4, 3]
[6, 9]
[3, 4]

In [ ]:
list1 = ["red", "orange", "green", "blue", "white"]
list2 =["black", "yellow", "green", "blue"]
set1 = set(list1)
set2 = set(list2)
new_list = list(set1-set2)
new_list2 = list(set2-set1)
print(new_list)
print(new_list2)

In [ ]:
#convert a string to a list.
string = 'abracadabra'
list = list(string)
print(list)
list = string.split()
print(list)